.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 80%;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;

  padding: 20px;
  border-radius: 8px;
  position: relative;
}
